<h1><%= @user.username %> Events</h1>

<h2>Created Events</h2>

<%if @user.created_events.empty? %>
    <p>This User has no created events</p>
<% else %>
    <ul>
        <% @user.created_events.each do |event| %>
            <li><%= event.name %>, <%= event.location %> starts at <%= event.formatted_date %></li>
        <% end %>
    </ul>
<% end %>

<h2>Attend Events</h2>

<%if @user.attended_events.empty? %>
    <p>This User has no attended events</p>
<% else %>
    <ul>
        <% @user.attended_events.each do |event| %>
            <li><%= event.name %>, <%= event.location %> starts at <%= event.formatted_date %></li>
        <% end %>
    </ul>
<% end %>