<h1><%= @event.name.capitalize %></h1>

<ul>
    <li><strong>By: </strong><%= @event.creator.username %></li>
    <li><strong>Date: </strong><%= @event.date.strftime("%d/%m/%y at %H:%M" ) %></li>
    <li><strong>Location:</strong><%= @event.location %></li>
    <li><strong>Description: </strong><br>
        <%= @event.description %></li>
</ul>

<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
    <% end %>
</ul>

<%= button_to "Attend", attendances_path, 
    params: { attendee_id: current_user.id, attended_event_id: @event.id }%>