<h1><%= @event.name.capitalize %></h1>

<ul>
    <li><strong>By: </strong><%= @event.creator.username %></li>
    <li><strong>Date: </strong><%= @event.date %></li>
    <li><strong>Location:</strong><%= @event.location %></li>
    <li><strong>Description: </strong><%= @event.description %></li>
</ul>