<h1><%= @event.name.capitalize %></h1>

<ul>
    <li><strong>By: </strong><%= @event.creator.username %></li>
    <li><strong>Date: </strong><%= @event.formatted_date %></li>
    <li><strong>Location:</strong><%= @event.location %></li>
    <li><strong>Description: </strong><br>
        <%= @event.description %></li>
</ul>

<p>
    <%= link_to "Edit", edit_event_path(@event.id) %>
    or
    <%= link_to "Delete", event_path(@event.id), data: {
                                                         turbo_method: :delete,
                                                         turbo_confirm: "Are you sure?"} %>

</p>

<h2>Participants</h2>

<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
    <% end %>
</ul>

<% if @event.created_by?(current_user) %>
    <%= link_to "Manage Attendances", '#'%>
<% end %>

<% if 1 == 2 #user_signed_in? %>
    <% attendance_params =
        {attendance: { attendee_id: current_user.id, attended_event_id: @event.id } } %>

    <%= button_to "Attend", attendances_path, params: attendance_params %>

    <% current_attendance = current_user.attendances.find_by(attended_event_id: @event.id) %>

    <% if current_user.attending?(@event) %>
        <%= button_to "Unattend", attendance_path(current_attendance), 
            method: :delete,
            params: attendance_params,
            data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
<% end %>