<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      Logged in as <%= link_to current_user.username, user_path(current_user.id) %>,
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete,
                                                                 turbo_confirm: "Are you sure?"
                                                               } %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
